<header class="header">
    <div class="header-wrapper">
        <img src="assets/images/logo.svg" alt="Прогулки по миру" class="logo">
        <div class="links">
            <a href="#" class="link">Горящие туры</a>
            <a href="#" class="link">Страны</a>
            <a href="#" class="link">Обучение туризму</a>
            <a href="#" class="link">Контакты</a>
        </div>
        <a href="https://api.whatsapp.com/send?phone=74957890868&text=Здравствуйте!" class="tel-link">
            <span class="tel-link__phone">+7 495 789-08-68</span>
            <span class="tel-link__whatsapp">WhatsApp</span>
        </a>
    </div>
</header>